/* Style Pointer */
a:hover {
    cursor: pointer;
}

/* Style Modals */
.modalbox {
    background: #707070;
    position: absolute;
    top: 20vh;
    left: 30vw;
    right: 30vw;
}
.modheader {
    background: #2699FB;
    padding: 10px;
}
.modbody {
    padding: 10px;
}

/* Style Close Button */
.close {
    float: right;
    font-size: 32px;
    font-weight: bold;
}
.close:hover {
    color: #000;
    cursor: pointer;
}

/* Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* Scaling */
@media screen and (max-width: 1000px) {
    .modalbox {
        top: 5vh;
        left: 5vw;
        right: 5vw;
    }
}